In [3]:
!file -I ./data/MedianHouseholdIncome2015.csv

./data/MedianHouseholdIncome2015.csv: text/plain; charset=iso-8859-1

In [2]:
pwd

'/Users/michael/Documents/flatiron/dc-ds-060120/mod-1/week-2/day-1'

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [7]:
!ls data

MedianHouseholdIncome2015.csv         PoliceKillingsUS.csv
PercentOver25CompletedHighSchool.csv  ShareRaceByCity.csv
PercentagePeopleBelowPovertyLevel.csv

In [13]:
mediandf = pd.read_csv('data/MedianHouseholdIncome2015.csv',encoding='iso-8859-1')

In [16]:
mediandf.head(30)

   Geographic Area                 City Median Income
0               AL           Abanda CDP         11207
1               AL       Abbeville city         25615
2               AL      Adamsville city         42575
3               AL         Addison town         37083
4               AL           Akron town         21667
5               AL       Alabaster city         71816
6               AL     Albertville city         32911
7               AL  Alexander City city         29874
8               AL       Alexandria CDP         56058
9               AL      Aliceville city         21131
10              AL         Allgood town         42009
11              AL         Altoona town         27566
12              AL       Andalusia city         31968
13              AL        Anderson town         34792
14              AL        Anniston city         29681
15              AL            Arab city         40292
16              AL         Ardmore town         35670
17              AL            Argo town         57212
18              AL          Ariton town         24286
19              AL           Arley town         28750
20              AL         Ashford town         42704
21              AL         Ashland town         31438
22              AL        Ashville city         40547
23              AL          Athens city         47542
24              AL          Atmore city         26775
25              AL         Attalla city         37191
26              AL          Auburn city         38342
27              AL    Autaugaville town         24833
28              AL            Avon town         40417
29              AL             Axis CDP         55750

In [17]:
mediandf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB